body {
    background-color: rgb(125, 125, 125);
    width: 95%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    background-color: #ffffff;
    width: 40vh;
    height: 60vh;
    border: rgba(106, 106, 106, 0.8) solid 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.display {
    height: 20vh;
    width: 100%;
    background-color: rgb(58,58,58);
    display: flex;
    justify-content: end;
    align-items: center;
}

.value {
    margin: 1rem;
    margin-right: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(256, 256, 256, 0.7);
    font-size: 3.5rem;
}

.keypad {
    height: 100%;
    background-color: rgb(106, 106, 106);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.key {
    color: rgba(256, 256, 256, 0.5);
    border: rgba(0, 0, 0, 0.2) 1px solid;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:hover {
    color: rgba(256, 256, 256, 0.8);
    border: rgba(0, 0, 0, 0.6) 1px solid;
}


.key-big {
    color: rgba(256, 256, 256, 0.5);
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(0, 0, 0, 0.2) 1px solid;
}

.key-big:hover {
    color: rgba(256, 256, 256, 0.8);
    border: rgba(0, 0, 0, 0.6) 1px solid;
}
.row {
    display: flex;
    justify-content: space-evenly;
    height: 25%;
}

.operation {
    background-color: rgba(242, 161, 60, 0.8);
}

.multiply {
    transform: rotate(45deg)
}

.final, .cancel {
    background-color: rgba(242, 100, 30, 0.8);
    border-color: rgba(256, 256, 256, 0.6)
}
